In [1]:
import pandas as pd

# Cargar el archivo CSV (asegúrate de que la ruta sea correcta)
columns = ['polarity', 'id', 'date', 'query', 'user', 'text']
dataset = pd.read_csv("training.1600000.processed.noemoticon.csv", 
                      encoding='latin-1', names=columns)

# Ver las primeras filas
dataset.head()

,polarity,id,date,query,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [2]:
dataset['polarity'].value_counts()

polarity
0    800000
4    800000
Name: count, dtype: int64

In [3]:
# Filtrar solo las columnas relevantes (polarity y text)
dataset = dataset[['polarity', 'text']]

# Convertir las etiquetas de polaridad para que sean más legibles
dataset['polarity'] = dataset['polarity'].map({0: 'negativo', 2: 'neutro', 4: 'positivo'})

print("dataset columnas relevantes")
dataset.head()

dataset columnas relevantes

   polarity                                               text
0  negativo  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1  negativo  is upset that he can't update his Facebook by ...
2  negativo  @Kenichan I dived many times for the ball. Man...
3  negativo    my whole body feels itchy and like its on fire
4  negativo  @nationwideclass no, it's not behaving at all....

In [4]:
import re

# Función para limpiar el texto
def limpiar_texto(texto):
    texto = re.sub(r"http\S+|www\S+|https\S+", '', texto, flags=re.MULTILINE)  # Eliminar URLs
    texto = re.sub(r'\@\w+|\#', '', texto)  # Eliminar menciones y hashtags
    texto = texto.strip()  # Quitar espacios en los extremos
    return texto

# Aplicar la función de limpieza
dataset['text'] = dataset['text'].apply(limpiar_texto)
dataset.head()

   polarity                                               text
0  negativo  - A that's a bummer.  You shoulda got David Ca...
1  negativo  is upset that he can't update his Facebook by ...
2  negativo  I dived many times for the ball. Managed to sa...
3  negativo     my whole body feels itchy and like its on fire
4  negativo  no, it's not behaving at all. i'm mad. why am ...

In [6]:
dataset.head(100)

    polarity                                               text
0   negativo  - A that's a bummer.  You shoulda got David Ca...
1   negativo  is upset that he can't update his Facebook by ...
2   negativo  I dived many times for the ball. Managed to sa...
3   negativo     my whole body feels itchy and like its on fire
4   negativo  no, it's not behaving at all. i'm mad. why am ...
..       ...                                                ...
95  negativo                     Strider is a sick little puppy
96  negativo  so rylee,grace...wana go steve's party or not?...
97  negativo  hey, I actually won one of my bracket pools! T...
98  negativo   YOU don't follow me, either  and i work for you!
99  negativo  A bad nite for the favorite teams: Astros and ...

[100 rows x 2 columns]

In [7]:
dataset['polarity'].value_counts()

polarity
negativo    800000
positivo    800000
Name: count, dtype: int64